
.vs/
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.VC.db
*.opendb
*.ipch
*.obj
*.iobj
*.pch
*.pdb
*.ilk
*.idb
*.log
*.tlog/
*.tmp
*.exe
*.dll
*.exp
*.lib
*.obj
*.o


x64/
x86/
Debug*/
Release*/
build*/
out*/


controllers/**/build/
controllers/**/cmake-build*/


*.wbt~
*.bak
*.tmp


.DS_Store
Thumbs.db

